<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button size="large" defaultHref="/movies"></ion-back-button>
    </ion-buttons>
    <ion-title class="">Log In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" #email required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" #password required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" (click)="onLogin(email, password)" expand="block" fill="solid">
          Log In
        </ion-button>
      </ion-col>
    </ion-row>
    <span class="span-divider">or</span>
    <ion-row>
      <ion-col>
        <ion-button (click)="onLoginGoogle()" color="danger" expand="block" fill="solid">
          Log In with Google
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p>
          <a [routerLink]="['/forgot-password']">Forgot password?</a>
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p>
          <a [routerLink]="['/register']">Create an account.</a>
        </p>
      </ion-col>
    </ion-row>
  </form>
</ion-content>