<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button size="large" defaultHref="/movies"></ion-back-button>
    </ion-buttons>
    <ion-title class="">Log In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content slot="fixed">
  <form id="loginForm" class="ion-padding">
    <ion-row>
      <ion-col class="avatar-col">
        <ion-avatar (click)="this.getAvatarImage()">
          <img [src]="avatarImg">
        </ion-avatar>
      </ion-col>
    </ion-row>
    <ion-row class="ion-margin-bottom ion-justify-content-center">
      <span>Tap to change avatar</span>
    </ion-row>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" #email required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" #password required></ion-input>
    </ion-item>
    <ion-button class="ion-margin-top" id="btnLogin" type="submit" color="medium" (click)="onLogin(email, password)"
      expand="block" fill="solid">
      <span class="white ion-padding">Log In</span>
    </ion-button>
    <ion-row>
      <ion-col>
        <p class="ion-text-center">
          <a class="white" [routerLink]="['/register']">Create account.</a>
        </p>
      </ion-col>
    </ion-row>
  </form>
  <ion-row id="forgotRow">
    <ion-col>
      <p class="ion-text-center">
        <a class="white" [routerLink]="['/forgot-password']">Forgot password?</a>
      </p>
    </ion-col>
  </ion-row>
</ion-content>