#loginForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 56px);
    position: relative;
}

a{
    text-decoration: none;
}

#existingRow{
    position: absolute;
    bottom: 0;
    width: 100%;
}

#btnRegister{
    height: 55px;
    border-radius: 50px;
}

.white{
    color: #ffffff;
}

ion-item{
    border-radius: 50px;
    margin-bottom: 10px;
}