<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button size="large" defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title class="">Register User</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form id="loginForm" class="ion-padding">
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" #email required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" #password required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Confirm Password</ion-label>
      <ion-input type="password" #passwordConfirm required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button class="ion-margin-top" id="btnRegister" type="submit" color="medium"
          (click)="onRegister(email, password, passwordConfirm)" expand="block" fill="solid">
          <span class="white ion-padding">Register</span>
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
  <ion-row id="existingRow">
    <ion-col>
      <p class="ion-text-center">
        <a class="white" [routerLink]="['/login']">Already have an account?</a>
      </p>
    </ion-col>
  </ion-row>
</ion-content>