<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button size="large" defaultHref="/movies"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="removeMovie()">
        <ion-icon size="large" name=trash></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['/movie-edit', movie.id]">
        <ion-icon size="large" name="create">
        </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-start ion-padding-end">
  <h1>{{movie.title}}</h1>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col class="movie-image">
        <ion-img [src]="movie.image.webviewPath"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row class="ion-margin-top">
      <ion-col>
        <ion-label>
          Rate
        </ion-label>
        <br>
        <ionic5-star-rating #rating activeIcon="star" defaultIcon="star-outline" activeColor="#FFFFFF"
          defaultColor="#FFFFFF" readonly="true" rating="{{movie.rating}}" fontSize="18px"
          (ratingChanged)="logRatingChange($event)">
        </ionic5-star-rating>
      </ion-col>
      <ion-col class="ion-text-end">
        <ion-label class="date">05/08/2020</ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="ion-text-center ion-margin-top">
      {{movie.description}}
    </ion-row>
  </ion-grid>
</ion-content>