<ion-app>
  <ion-menu contentId="content1" side="start">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>


        <ion-menu-toggle *ngIf="user$ | async as user; else log_in">
          <ion-row>
            <ion-col class="avatar-col">
              <ion-avatar>
                <img src="{{avatarPath}}">
              </ion-avatar>
            </ion-col>
          </ion-row>
          <ion-row class="ion-margin-bottom ion-justify-content-center">
            <span color="medium">{{user.email}}</span>
          </ion-row>
          <ion-item routerLink (click)="onLogout()" menuClose>Log out
          </ion-item>
        </ion-menu-toggle>
        <ng-template #log_in>
          <ion-menu-toggle>
            <ion-item routerLink='/login' menuClose>Log In</ion-item>
          </ion-menu-toggle>
        </ng-template>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="content1" main></ion-router-outlet>
</ion-app>