ion-toolbar{
    padding-left: 10px;
    padding-right: 10px;
}

ion-item{
    --inner-padding-end: 0px;
    --padding-start:0px
}

.movie{
    border-radius: 15px;
}

ion-title{
    font-size: 1.5rem;
}

ion-card{
    padding: 0;
    height: 200px;
    overflow: hidden;
    position: relative;
}

.poster-col{
    display: flex;
    align-items: center;
    height: 200px;
    background-color: #AFAFAF;
}

.poster{
    height:  200px;
}

p{
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 50px!important;
    color: black
}

.movie-info{
    background-color: #AFAFAF;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ion-item-option{
    color: #ffffff;
}

#edit{
    color: #ffffff;
}

ion-text{
    height: 98px;
    overflow: hidden;
}

.poster-col{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}