<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button size="large" defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title class="">Reset password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form id="loginForm" class="ion-padding">
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" #email required></ion-input>
    </ion-item>
    <ion-button class="ion-margin-top" id="btnReset" type="submit" color="medium" (click)="onResetPassword(email)"
      expand="block" fill="solid">
      <span class="white ion-padding">Reset password</span>
    </ion-button>
  </form>
</ion-content>