#loginForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 56px);
    position: relative;
}

#btnReset{
    height: 55px;
    border-radius: 50px;
}

.white{
    color: #ffffff;
}

ion-item{
    border-radius: 50px;
    margin-bottom: 10px;
}