<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button size="large" defaultHref="/movies"></ion-back-button>
    </ion-buttons>
    <ion-title>Add a new movie</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <ion-card>
        <ion-card-content>
          <ion-item>
            <ion-label position="floating">Title</ion-label>
            <ion-input #title type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Rate</ion-label>
            <ionic5-star-rating #rating activeIcon="star" defaultIcon="star-outline" activeColor="#FFFFFF"
              defaultColor="#FFFFFF" readonly="false" rating="1" fontSize="32px"
              (ratingChanged)="logRatingChange($event)">
            </ionic5-star-rating>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Description</ion-label>
            <ion-textarea #description></ion-textarea>
          </ion-item>
          <ion-item>
            <ion-button color="primary" (click)="this.getImage()">Image</ion-button>
          </ion-item>

        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-fab color=" dark" vertical="bottom" horizontal="center" slot="fixed" (click)="saveNewMovie(title, description)">
    <ion-fab-button color="dark">
      <ion-icon size="large" name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>